{{#partial "contenido" }}
<div class="container-sm mt-5">
    <div class="card bg-dark text-white mx-auto p-3" style="border-radius: 1rem; max-width:800px;">
        <div class="card-body">
        <h1 class="text-center mb-3">Registrarse</h1>
        <hr />
            <form id="registroForm" method="POST" action="/register">
                <label class="form-label">Nombre de usuario</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <span class="fas fa-user"></span>
                    </span>
                    <input required name="nombreDeUsuario" type="text" class="form-control" placeholder="Nombre de Usuario" />
                </div>
                <label class="form-label">Email</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <span class="fa-solid fa-envelope"></span>
                    </span>
                        <input required name="email" type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label class="form-label">Contraseña</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </span>
                                <input required id="contrasenia" name="contrasenia" type="password" class="form-control" placeholder="Contraseña" />
                            </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label">Confirmar Contraseña</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </span>
                                <input required id="confirmarContrasenia" type="password" class="form-control" placeholder="Confirmar Contraseña" />
                            </div>
                    </div>
                </div>
                <ul id="errorContrasenia" class="text-danger fw-bold"></ul>
                <button type="submit" class="btn btn-lg btn-primary w-100 mt-3">Registrarse</button>
            </form>
            <p class="text-center mt-2">¿Ya tenés una cuenta? <a href="/login">Iniciá sesión</a></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="js/register.js">
{{/partial}}
{{> templates/base }}